services:
  
  gateway:
    image: daniloalm/chat-gateway
    environment:
      PORT: 50051
      USER_SERVICE_URL: ${USER_SERVICE_URL:-user-service:50051}
      AUTH_SERVICE_URL: ${AUTH_SERVICE_URL:-auth-service:50051}
      LAST_SEEN_SERVICE_URL: ${LAST_SEEN_SERVICE_URL:-last-seen-service:50051}

      ACCESS_TOKEN_SECRET: "${ACCESS_TOKEN_SECRET}"
      REFRESH_TOKEN_SECRET: "${REFRESH_TOKEN_SECRET}"
    ports:
      - "50051:50051"
    depends_on:
      - user-service
      - auth-service
      - last-seen-service

  user-service:
    image: daniloalm/chat-user-service
    environment:
      MARIADB_URI: user:secret@tcp(user-db:3306)/userdb
      GRPC_PORT: 50051
    depends_on:
      user-db:
        condition: service_healthy

  user-db:
    image: mariadb:lts
    environment:
      - MARIADB_USER=user
      - MARIADB_PASSWORD=secret
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_DATABASE=userdb
    volumes:
      - user_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 3s
      interval: 5s
      timeout: 5s
      retries: 3

  auth-service:
    image: daniloalm/chat-auth-service
    environment:
      MARIADB_URI: user:secret@tcp(auth-db:3306)/authdb
      USER_SERVICE_URL: ${USER_SERVICE_URL:-user-service:50051}
      ACCESS_TOKEN_SECRET: "${ACCESS_TOKEN_SECRET}"
      REFRESH_TOKEN_SECRET: "${REFRESH_TOKEN_SECRET}"
      GRPC_PORT: 50051
    depends_on:
      auth-db:
        condition: service_healthy
      user-service:
        condition: service_healthy

  auth-db:
    image: mariadb:lts
    environment:
      - MARIADB_USER=user
      - MARIADB_PASSWORD=secret
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_DATABASE=authdb
    volumes:
      - auth_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 3s
      interval: 5s
      timeout: 5s
      retries: 3
    
  last-seen-service:
    image: daniloalm/chat-last-seen-service
    environment:
      MONGO_URI: mongodb://root:secret@last-seen-db:27017
      GRPC_PORT: 50051
    depends_on:
      - last-seen-db

  last-seen-db:
    image: mongo:8.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - last_seen_data:/data/db
  
volumes:
  last_seen_data:
  auth_data:
  user_data:
