services:

  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile.dev
    environment:
      REFLECTION: true
    volumes:
      - ./gateway/src:/app/src
      - ./gateway/protos:/app/protos
      - ./protos:/protos
      - ./gateway/package.json:/app/package.json
      - /app/node_modules

  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile.dev
    environment:
      REFLECTION: true
    volumes:
      - ./user-service:/app

  user-db:
    image: mariadb:lts
    volumes:
      - user_data_dev:/var/lib/mysql

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile.dev
    environment:
      ACCESS_TOKEN_SECRET: "${ACCESS_TOKEN_SECRET:-supersecrettoken}"
      REFRESH_TOKEN_SECRET: "${REFRESH_TOKEN_SECRET:-supersecretrefreshtoken}"
      REFLECTION: true
    volumes:
      - ./auth-service:/app

  auth-db:
    image: mariadb:lts
    volumes:
      - auth_data_dev:/var/lib/mysql
    
  last-seen-service:
    build:
      context: .
      dockerfile: ./last-seen-service/Dockerfile
    environment:
      REFLECTION: true

  last-seen-db:
    image: mongo:8.0
    volumes:
      - last_seen_data_dev:/data/db

volumes:
  last_seen_data_dev:
  auth_data_dev:
  user_data_dev:
